#Netbeans Local Files
**/nbproject/private/
**/nbproject/Makefile-*.mk
**/nbproject/Package-*.bash
build/
nbbuild/
dist/
nbdist/
.nb-gradle/

#DataBases Engines
/Engines/
/024.ServidorMultihilo/target/
/025.QuizMagic/target/
